.PostBlock{
    border: 2px solid black;
}
#Content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90vh;
    border: 2px solid black;
    justify-content: space-around;
}
#LeftSide,#MiddleSide,#RightSide{
    display: flex;
    flex-direction: column;
}
#Posts-Container{
    border: 2px dashed gray;
    overflow: scroll;
}
#LeftSide{
    width: 20%;
}
#MiddleSide{
    width: 60%;

}
#RightSide{
    width: 20%;
}
#Pages{
    height: 96%;
    display: flex;
    flex-direction: column;
}
#New_Pages{
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
#UserInfo{
    height: 20%;
}
#UserList{
    height: 70%;
    overflow-y: scroll;
    overflow-x: scroll;
}
#AllUsers{
    display: flex;
    flex-direction: column;
}
#AllUsers div{
    display: flex;
}